@keyframes pulse {
  0% {
    transform: scale(1) rotate(45deg);
  }

  50% {
    transform: scale(1.3) rotate(45deg);
  }

  100% {
    transform: scale(1) rotate(45deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.heart {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 20px;
  color: var(--clr-white);
  background: var(--clr-heart);
  border-bottom-right-radius: 5px;
  transform: rotate(45deg);
}

.heart::before {
  position: absolute;
  top: 0;
  left: -50%;
  width: 20px;
  height: 20px;
  content: '';
  background: var(--clr-heart);
  border-radius: 50%;
}

.heart::after {
  position: absolute;
  top: -50%;
  left: 0;
  width: 20px;
  height: 20px;
  content: '';
  background: var(--clr-heart);
  border-radius: 50%;
}

/* Styles for users who do not prefer reduced motion */
@media (prefers-reduced-motion: no-preference), (prefers-reduced-motion:0) {
  .heart {
    animation-name: pulse;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    will-change: transform;
  }
}
