:root {
  --clr-black-hsl: 0 0% 0%;
  --clr-black: hsl(var(--clr-black-hsl));
  --clr-white-hsl: 0 0% 100%;
  --clr-white: hsl(var(--clr-white-hsl));
  --clr-dark:hsl(225deg 12% 13%);
  --clr-focus:hsl(204deg 70% 53%);
  --clr-heart: hsl(0deg 100% 50%);
  --clr-sandstone: hsl(42deg 62% 75%);
  --clr-dark-wood:  	hsl(7deg 37% 27%);
}

html {
  overflow-x: hidden;
  font-family: Cinzel, serif;
  font-size: 20px;
  background-color: var(--clr-sandstone);
}

#root {
  display:flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-image: url('./imgs/sandstone.webp');
  background-repeat: repeat;
}

@media screen and (width < 1200px) {
  html {
    font-size: 16px;
  }
}

@media screen and (width < 1024px) {
  html {
    font-size: 14px;
  }
}

@media screen and (width < 375px) {
  html {
    font-size: 12px;
  }
}
